.blockquote-primary{
	border-left-color: $color-primary;
}

.blockquote-secondary{
	border-left-color: $color-secondary;
}

.blockquote-info{
	border-left-color: $color-info;
}

.blockquote-success{
	border-left-color: $color-success;
}

.blockquote-warning{
	border-left-color: $color-warning;
}

.blockquote-danger{
	border-left-color: $color-danger;
}