.container{
	max-width:			100%;
	width:				$container;
	margin: 			0 auto;
	padding:			0 1rem;
}

.container-fluid {
	padding: 1rem;
	max-width:	100%;
	width: 100%;
}

.entry-footer {
	margin: 1rem auto;
}

.site-thumbnail {
	margin-bottom: 1.5rem;
}
