.rtl {
	.woocommerce, .woocommerce-page {
		.col2-set {
			.col-1 {
				float: right;
			}
			.col-2 {
				float: left;
			}
		}
		form {
			.form-row-first,
			.form-row-last {
				float: right;
			}
			.form-row-last {
				float: left;
			}
		}
	}
}
